.person {
  display: flex;
  max-width: 500px;
  min-width: 300px;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  background-color: #333;
  transition: background-color 0.2s;

  & > input[type='checkbox'] {
    margin-right: 0.75em;
  }

  & > p {
    margin: 0;
    color: #fff;
  }
}

.person-active {
  background-color: #555;
}
